<!-- Страница для добавления новой еды -->
@model CafeWeb.Models.AdminFoodModel
<html>

    <head>
        <link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
        <link href="~/CSS/admin.css" rel="stylesheet" />
        <title> Добавление нямки </title>
    </head>
    <body>

        <div class="out-form">
            <form class="in-form" method="post" action="/admin/addfood" enctype="multipart/form-data">
                <p>@ViewBag.Problem</p> <br/> <!-- Вывод информации в случае невозможности добавления (получаем только при пересылке с post-метода) -->
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    <label>Категория: </label>
                    <select name="SelectedCategory" required>
                    @foreach(var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                    </select> <br />
                    <label>Название: </label> <br />
                    <input id="" type="text" name="Food.Name" maxlength="100" required /> <br />

                    <label>Цена: </label> <br />
                    <input type="number" name="Food.Price" max="99999.99" min="0" required /> <br />

                    <label>Калории: </label> <br />
                    <input type="number" name="Food.Calories" max="99999.99" min="0" required /> <br />

                    <label>Вес: </label> <br />
                    <input type="number" name="Food.Weight" max="99999.99" min="0" required /> <br />

                    <label>Ингредиенты:</label> <br />
                    <textarea name="Food.Ingredients" required></textarea> <br />

                    <label>Описание:</label> <br />
                    <textarea name="Food.Description" required></textarea> <br />

                    <label>Фото: </label> <br />
                    <input type="file" name="Photo" id="fileInput" accept="image/*" required /> <br />
                    <div class="under">
                        <button type="submit">Добавить</button>
                    </div>
                }
                else
                {
                     <p>Не удалось получить список категорий</p> <br />
                }
        </form>
    </div>
</body>
</html>