<!-- Основное меню админов, откуда можно перейти на все остальные админские страницы -->
<html>
	<head>
		<link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
		<link href="~/CSS/admin-main.css" rel="stylesheet" />
		<title> Адмиские угодия </title>
	</head>
	<body>
		<div class="container">
			<div class="container-content">
				<img id="logo"src="~/IMG/logo-cafe.png" />
				<label> Выберите операцию:</label>
				<div class="content-row">
					<button class="food" onclick="goToPageFood()">Добавить новое блюдо</button>
					<button class="admin" onclick="goToPageAdmin()">Добавить нового админа</button>
					<button class="offer" onclick="goToPageOffer()">Добавить новую акцию</button>
					<button class="promo" onclick="goToPagePromo()">Добавить новый промокод</button>
				</div>
			</div>
		</div>
		<script>
			function goToPageFood() {
				document.location.assign("/Admin/AddFood")
			}
			function goToPageAdmin() {
				document.location.assign("/Admin/NewAdmin")
			}
			function goToPageOffer() {
				document.location.assign("/Admin/NewOffer")
			}
			function goToPagePromo() {
				document.location.assign("/Admin/NewPromo")
			}
		</script>
	</body>
</html>