<!-- Страница для добавления новых промокодов -->
@model CafeWeb.Models.Promocode
@{
    string tomorrow = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd");
}

<p>@ViewBag.Problem</p> <br/>

<form method="post" action="/Admin/NewPromo">
    <label>Промокод: </label> <br />
    <input id="promo-input" type="text" name="Code" value="@Model?.Code" maxlength="20" required />
    <button id="rand-promo" type="button">Случайный промокод</button><br />

    <label>На сумму: </label> <br />
    <input type="number" name="Discount" value="@Model?.Discount" max="99999.99" min="0" required /> <br />

    <label>Действует с суммы: </label> <br />
    <input type="number" name="FromSum" value="@Model?.FromSum" max="99999.99" min="0" required /> <br />

    <label>Действует до:</label> <br />
    <input type="date" name="ExpiresAt" value="@Model?.ExpiresAt" min="@tomorrow" required />

    <button type="submit">Добавить</button>
</form>

<script src="~/JS/AdminScripts.js"></script>