<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
        <link href="~/CSS/user-me.css" rel="stylesheet" />
        <title> Профиль @ViewBag.Login </title>
    <link href="~/CSS/header.css" rel="stylesheet" />
    </head>
    <body>
        <noscript>
            <!-- Отображается только если у пользователя выключен js в браузере -->
            <div style="background-color: #f44336; color: white; padding: 20px; text-align: center;">
                Для полноценной работы сайта включите JavaScript в настройках вашего браузера.
            </div>
        </noscript>

    <header>
        <div class="header-top">
            <div class="header-content">
                <div class="header-left">
                    <div class="logo">
                        <img src="~/IMG/logo-cafe.png" alt="Logo" onclick="goToPage('/cafe/index')" />
                        <label>Добро пожаловать в профиль</label>
                    </div>

                </div>
                <div class="header-actions">
                    <a href="/cafe/cart" class="cart-icon" title="Корзина">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="cart-count"></span>
                    </a>
                    <div id="profile-actions">
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div class="main-content">
            <div class="container">
            
                <label>Доступные действия:</label>
                <div class="container-content">
                    <div class="content-row">
                        <button id="password-btn"> Сменить пароль </button>
                        <button onclick="goToPage('/user/orderhistory?userId=@ViewBag.Id')"> История заказов </button>
                        <button onclick="goToPage('/user/offers')"> Акции </button>
                        <button onclick="goToPage('/user/favourite?userId=@ViewBag.Id')"> Избранное </button>
                        @if(ViewBag.Role == "admin")
                        {
                            <button onclick="goToPage('/admin/index')">В админские угодья</button>
                        }
                    </div>
                    <button id="exit" onclick="goToPage('/cafe/index')"> На главную </button>
                </div>
            </div>
        </div>
        <dialog id="password-dialog">
            <form id="password-form" method="post" action="/user/changepassword">
                <h3>Смена пароля</h3>
                <label>Текущий пароль: </label>
                <input name="currentPassword" class="passwordInput" type="password" id="current-password">
                <br>
                <br>
                <label>Новый пароль:</label>
                <input name="newPassword" class="passwordInput" type="password" id="new-password">
                <br>
                <br>
                <input name="userId" value="@ViewBag.Id" hidden/>

               <div class="bottom">
                    <button type="submit" id="confirm-btn">Изменить пароль</button>
                    <button type="button" id="cancel-btn">Отмена</button>
                </div>
            </form>
        </dialog>
        <script src="~/JS/header.js"></script>
        <script src="~/JS/goToPage.js"></script>
        <script src="~/JS/showNotification.js"></script>
        <script src="~/JS/userMainPage.js"></script>
    </body>
</html>