<!-- Страница для входа в аккаунт -->
@model CafeWeb.Models.User
@{
    string? returnUrl = Context.Request.Query["ReturnUrl"].ToString();
}
<head>
    <link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
    <link href="~/CSS/Sign.css" rel="stylesheet" />
    <title> Войти </title>
</head>
<body>

<div class="out-form">
    <form method="post" action="/user/signin">
    
        <div class="in-form">
            <img id="logo" src="~/IMG/logo-cafe.png" width="155" height="155">
            <label> Введите логин: </label>
            <input id="username" type="text" name="Login" maxlength="25" required />
            <p>@ViewBag.Problem</p>
            <label>Введите пароль: </label>
            <input id="password-input" type="password" name="Password" maxlength="20" required />
            <label>
                <input type="checkbox" id="show-password"> Показать пароль
            </label>

            <input name="returnUrl" value="@returnUrl" hidden/>
            <div class="under-sing">
                <button type="submit">Войти</button>
                <p>Нет аккаунта? <a href="/user/signup"> Создать </a></p>
            </div>
        </div>
    </form>
</div>

</body>
<script src="~/JS/ShowPassword.js"></script>