<head>
    <link rel="icon" href="~/IMG/logo-cafe.png" type="image/png">
    <link href="~/CSS/payment_failed.css" rel="stylesheet" />
    <title> Оплата не прошла </title>
</head>

<body>
    <div class="out">  

        <div class="in">
            <img id="logo" src="~/IMG/logo-cafe.png" width="155" height="155">

            <div class="text">
                <label><br />
                     Упс! @ViewBag.Message. 
                    <p>Попробуйте еще раз</p>
                </label>
            </div>

            <br />
            <button class="btn-ok" onclick="goToCartPage()">Ок</button>

        </div>
    
    </div>
    <script>
        function goToCartPage() {
            document.location.replace("/cafe/cart")
        }
    </script>
        
</body>