@{
    Layout = "_Layout"; // Использование шаблона
}
@model List<CafeWeb.Models.Food> // Подключение модели к представлению
<h1>Пиццы</h1>
@foreach(var pizza in Model) // Model - обращение к переданной модели, знак @ используется для работы с C# кодом
{
    <p>@pizza.Name</p>
    <p>@pizza.Price</p>
}
<!-- Название папки, где лежит представление должно иметь название аналогичное названию контроллера для неё, но без Controller -->
<!-- То есть представления для CafeController лежт в папке Views/Cafe -->

<a href="/Admin/AddFood"> Создать новое блюдо </a>