<html>
<!--Описание шаблона-->
<head>
    <title>Заказ</title>
    <link href="~/css/order.css" rel="stylesheet" />
</head>
<body>
    @RenderBody() <!-- Функция для отображения представления внутри шаблона -->
</body>
</html>