<html>
<!--Описание шаблона-->
<head>
    <title>Корзина</title>
    <link href="~/css/cart.css" rel="stylesheet" />
</head>
<body>
    @RenderBody() <!-- Функция для отображения представления внутри шаблона -->
</body>
</html>